<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"  th:replace="base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<section>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci commodi non quidem voluptates! Et laboriosam nostrum officiis repellat repudiandae!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur inventore minus modi molestiae nostrum, quidem reiciendis,
  rem repellat tempora totam ut voluptatum. Aliquid at consequatur debitis deleniti explicabo facilis hic illum inventore ipsam laborum libero modi nesciunt
  quas sint unde veniam, veritatis voluptas voluptatem. Ab accusantium ad aperiam cum cumque debitis delectus distinctio exercitationem fugit ipsam labore,
  molestiae necessitatibus nobis nostrum quasi qui reprehenderit, sapiente velit? Aperiam asperiores facilis, minima quisquam ratione saepe suscipit velit.
  Aliquid asperiores assumenda, atque beatae debitis dicta dolorem dolores enim exercitationem explicabo fuga iste molestias nobis odit optio provident quos ratione saepe sit ullam! Alias!
</p>

</section>

</body>
</html>