<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet dignissimos eum exercitationem iusto magnam quis recusandae ut veritatis. Culpa laudantium libero maiores odit praesentium quas quos? Aliquid dolores eligendi explicabo impedit molestiae odio quidem repellendus suscipit tempore voluptatem? Deleniti dolor eaque enim esse odit officia recusandae repellendus soluta ullam!

</section>

</body>
</html>