<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>


<h1>This is Contact Page</h1>

<div style="height:600px;">


</div>


<footer th:insert="Footer::footer1"></footer>

<!--Some other values to use fragments here is insert,replace,include;-->

<!--replace:- replace the complete tag-->
<!--insert:- insert will insert the tag inside the tag -->
<!--include :- include will remove the first tag at which fragment is declared and include the rest of content-->

</body>
</html>